<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="logoutBtn">Logout</button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="terminateSessions">Terminate All</button>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="row panel-heading top-bar" id="rooms">
				
			
			    </div>
				<div class="panel-body">
					<div  id="conversation"></div>
				</div>
				<div class="panel-footer" id="chatControls">
					
                   </div>
			</div>
		</div>
	</div>