doctype html
html
	head
		title Chat
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")
	body
	
		div.container
			header
				Rooms
			
			
			div#rooms
			div#conversation
			div#chatControls
				input(type='text')#data
				input(type='button' value="send")#datasend
				