/* ------ Small Devices, Tablets --------- */
@media only screen and (min-width : 768px) {
     
     
     body  {
		font-size: 12px !important;
	}
	
	.sign-in-container .panel-default {
		margin-top:120px;
	}
	
	.sign-up-container .panel-default {
		margin-top:5px;
	}
	
	
}